<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Bricksoft - {{title}}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- CSS Files -->
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="https://github.com/bricksoft/telebotty">
					<div class="logo-container">
						<div class="logo">
							<img src="/img/favicon.png" alt="Creative Tim Logo" rel="tooltip" title="<b>{{title}}</b> was coded with love by the staff from <b>Bricksoft</b>"
							 data-placement="bottom" data-html="true">
							<!--
							<i class="fa fa-bug" style="margin-left: 4px;font-size: 45px; color: white;" alt="Bricksoft Logo" rel="tooltip" title="<b>{{title}}</b> Coded with love by the staff from <b>Bricksoft</b>"
							 data-placement="bottom" data-html="true"></i>
							-->
						</div>
						<div class="brand">
							Bricksoft
						</div>


					</div>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-index">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/messages">
							<i class="material-icons">dashboard</i> Messages (API)
						</a>
					</li>
					<li>
						<a href="https://twitter.com/intent/follow?screen_name=bricksoftapps" target="_blank">
							<i class="fa fa-twitter"></i> Follow Us
						</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->
	{{{body}}}

	<!--   Core JS Files   -->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/js/material-kit.js" type="text/javascript"></script>
</body>

</html>